#### functions,modules,packages
- Syntax
   - def functionname(arg1,arg2):
     - statement1
     - statement2
     - statement3
     - return

In [6]:
def sri():
    print("this is srikanya")

In [5]:
sri()

this is srikanya

In [8]:
print(sri())

this is srikanya
None

In [10]:
v=sri()
v

this is srikanya

In [11]:
print(v)

None

In [13]:
print(sri())
sri()

this is srikanya
None
this is srikanya

In [ ]:
def sriwithname(fn,ln):
    print("")

In [14]:
def sri():
    print("hello")
sri()

hello

In [18]:
x=sri()

hello

In [19]:
x

In [20]:
print(x)

None

In [31]:
def addition(a,b):
    print(a+b)
    return a+b

In [33]:
addition(5,2)

7

7

In [34]:
s=addition(5,2)

7

In [35]:
s

7

In [36]:
print(s)

7

In [47]:
def sriwithme(fn,ln):
    print('Hello everyone this is'+ ' '+\
          fn+ ' '+ln)

In [48]:
sriwithme('m','l')

Hello everyone this is m l

In [49]:
def sriwithme(fn,ln):
    print('Hello everyone this is'+ ' '+fn+ ' '+ln)

In [50]:
sriwithme('m','l')

Hello everyone this is m l

In [54]:
def sriwithme(fn,ln):
    print('Hello everyone this is',fn,ln)

In [58]:
sriwithme('m','l')

Hello everyone this is m l

In [74]:
def add(a=10,b=1):
    return a+b

In [73]:
add(14)

15

In [71]:
add(20,30)

50

In [76]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [77]:
list(range(2,10,2))

[2, 4, 6, 8]

In [78]:
def myrange(a,b=10):
    return a+b

In [80]:
myrange(10,10)

20

In [84]:
n=int(input())
def myrange(n):
    for i in range(1,n,2):
        print(i)
myrange(n)

10
1
3
5
7
9

In [86]:
def myrange(start,stop,range):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+range
    return li
myrange(2,10,2)

[2, 4, 6, 8]

In [92]:
def myrange(stop,start,range):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+range
    return li
myrange(7,0,2)

[0, 2, 4, 6]

In [93]:
def myprod(*values):
    f=1
    for i in values:
        f=f*i
    return f
myprod(1,2,3,4)

24

In [96]:
myprod(3),myprod(1,2,3),myprod(1,2,3,4,5)

(3, 6, 120)

In [99]:
def welcome(**names):
    for k,v in names.items():
        print(k,v)
welcome(sub='ml',sub1='ds',sub3='cc',sub4='uyt')

sub ml
sub1 ds
sub3 cc
sub4 uyt

In [100]:
d={'1':20,'2':30}
d

{'1': 20, '2': 30}

In [101]:
d.keys()

dict_keys(['1', '2'])

In [102]:
d.items()

dict_items([('1', 20), ('2', 30)])

#### Define a function for multiplication table

In [107]:
def mytable(n,start=1,stop=10):
    i=start
    while n>i:
        print(i,end=" ")
        i=i+stop
mytable()

1 11 21 31 41 51 61 71 81

In [109]:
def multiplication():
    for i in range(1,11):
        print(i,end=" ")
multiplication()

1 2 3 4 5 6 7 8 9 10

In [121]:
for i in range(1,11):
    print(5,'*',i,'=',5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [122]:
#mytable(5,2,7)
for i in range(2,8):
     print(5,'*',i,'=',5*i)

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35

In [123]:
for i in range(3,6):
     print(5,'*',i,'=',5*i)

5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

### Define a function to return the prime numbers in the inputs as a list.define separate function for prime

In [135]:
def primelist(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c=c+1
    if c==2:
        print("p")
    else:
        print("np")
primelist(5)

p

In [87]:
def isprime(n):
    f=True
    for i in range(2,(n//2)+1):
        if n%i==0:
            f=False
            return f
    return f
isprime(7)

True

In [88]:
def primeof(*n):
    #Doc string
    ''' This function will taken multiple numbers as an input()
    '''
    li=[]
    for i in n:
        if isprime(i):
            li.append(i)
    return li
primeof(4,5,6,7)

[5, 7]

In [144]:
help(primeof)

Help on function primeof in module __main__:

primeof(*n)

In [152]:
import model

In [153]:
dir(model)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [154]:
model.marks

100

In [155]:
model.predict(6)

13

In [3]:
import model as m
print(m.marks)
print(m.predict(4))

101
9

### Define a function for proper name
- i/p "  Machine", " leaning"
- i/p "machine", "Learning"
- o/p machine learning

In [18]:
def propernameof(fn,ln):
    e1=''
    e2=''
    f=fn.strip()
    l=ln.strip()
    e1=e1+str(f).title()
    e2=e2+str(l).title()
    print(e1+e2)
propernameof(" machine"," learning")

MachineLearning

In [22]:
def proper(name):
    print(name.strip().title())
proper(" machine lEarning")
proper("Machine learniong")

Machine Learning
Machine Learniong

#### anonymous function
- synta lambda arguments:expression

#### Add two list elements
- l1=[1,2,3]
- l2=[4,5,5]

In [30]:
def additionoflist(l1,l2):
    li=[]
    for n1,n2 in zip(l1,l2):
        t=n1+n2
        li.append(t)
    return li
        
    
additionoflist([1,2,3],[4,5,5])

[5, 7, 8]

In [33]:
def addlist(a,b):
    c=[]
    for i in range(len(a)):
            c.append(a[i]+b[i])
    return c
addlist([1,2,3],[4,5,5])

[5, 7, 8]

In [44]:
#### Add the total marks for each student data and append the total sublist
studentmarks=[['raj',56,78,89],['ravi',78,89,37],['giri',45,67,92],['rohan',75,85,44]]
for i in range(len(studentmarks)):
    studentmarks[i].append(sum(studentmarks[i][1:]))
studentmarks

[['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['giri', 45, 67, 92, 204],
 ['rohan', 75, 85, 44, 204]]

In [57]:
sorted(studentmarks,key=lambda x:x[-1])

[['ravi', 78, 89, 37, 204],
 ['giri', 45, 67, 92, 204],
 ['rohan', 75, 85, 44, 204],
 ['raj', 56, 78, 89, 223]]

In [73]:
check=sorted(studentmarks,key=lambda x:x[0])
check

[['giri', 45, 67, 92, 204],
 ['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['rohan', 75, 85, 44, 204]]

In [76]:
maths=0
for i in check:
    if i[-1]==204:
        if maths<i[2]:
            name=i[0]
            maths=i[2]
print(name)

ravi

In [ ]:
sorted(studentmarks,key=lambda max(x:x[2]))

In [47]:
a=[67,78,56,67]
a.sort(reverse=False)
a

[56, 67, 67, 78]

In [56]:
a=[67,78,56,67]
a

[67, 78, 56, 67]

In [63]:
d={'q':20,'e':40}
sorted(d.items(),key=lambda d:d[0],reverse=False)

[('e', 40), ('q', 20)]

In [78]:
a=[1,2,3]
b=[4,5,6]
list(map(lambda x,y:x+y,a,b))

[5, 7, 9]

In [85]:
list(map(lambda x:x%2==0,a))

[False, True, False]

In [96]:
sum(list(map(isprime,range(1,200))))

47

In [ ]:
1
2 9
3 8 10
4 7 11 14
5 6 12 13 15

In [5]:
n=5
p=[]
v=1
for i in range(n):
    p.append([])
    p[i].extend(list(range(v,v+n-i)))
    print(i,p)

0 [[1, 2, 3, 4, 5]]
1 [[1, 2, 3, 4, 5], [1, 2, 3, 4]]
2 [[1, 2, 3, 4, 5], [1, 2, 3, 4], [1, 2, 3]]
3 [[1, 2, 3, 4, 5], [1, 2, 3, 4], [1, 2, 3], [1, 2]]
4 [[1, 2, 3, 4, 5], [1, 2, 3, 4], [1, 2, 3], [1, 2], [1]]

In [109]:
n=int(input())
for i in range(1,n+1):
    print("*")
    for j in range(1,i+1):
        print("*",end=" ")

7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *

In [2]:
t=int(input())
n1=int(input())
a1=map(int,input().split())
n2=int(input())
a2=map(int,input().split())

2
3
1 2 3
3
1 5 6

In [1]:
def solve (A,N):
    # Write your code here
    A=list(A)
    k=2**(N-1)
    res=0
    for i in range(N):
        if A[i]>=k:
            res+=A[i]
    return res%(10**9+7)
T = int(input())
for _ in range(T):
    N = int(input())
    A = map(int, input().split())
 
    out_ = solve(A,N)
    print (out_)

2
3
3 4 5
9
2
1 6
6